{% extends 'notesapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row h-100 justify-content-center">
        <div class="col-sm-6 my-1">
            <legend class="border-bottom mb-3 text-center">Sign Up</legend>
            <form method="post">
                {% csrf_token %}
                {{ reg_form|crispy }}
                <button type="submit" class="btn btn-outline-success">Sign up</button>
            </form>
            <div class="border-top mt-3 pt-2">
                <p class="text-center"><a href="{% url 'login-page' %}">Already have an account?</a></p>
            </div>
        </div>
    </div>

{% endblock %}