<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .django-ckeditor-widget {
            min-width: 100% !important;
        }

        body {
            height: 100vh;
            background: green;
            overflow: hidden;
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Django Note App</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4a76a8;">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home-page' %}">Home</a>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Logged in as {{ user.username }}</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'logout-page' %}">Log out</a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'register-page' %}">Sign Up</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'login-page' %}">Sign In</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


{% block content %}
{% endblock %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>