{% extends 'notesapp/base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="border-bottom py-3">
            <a class="btn btn-outline-success" href="{% url 'create-note-page' %}">Create Note</a>
        </div>
    {% endif %}
    {% if notes is None %}
        <p>You're not logged in</p>
    {% elif notes %}
        <div class="row">
            {% for note in notes %}
                <div class="col-auto">
                    <div class="card border-success my-3" style="height: 20rem; width: 20rem">
                        <div class="card-body">
                            <h3 class="card-title">{{ note.title }}</h3>
                            <p class="card-subtitle mb-2 text-muted">Last Updated:
                                <b>{{ note.date_updated|date:"F d, h:m" }}</b></p>
                            <!-- slice: (:207) is used since can't fix front-end card-text text-truncate issue-->
                            <p class="card-text text-truncate">{{ note.text|slice:':207'|safe }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="btn-wrapper text-center d-flex justify-content-between">
                                <a href="{% url 'update-note-page' note.pk %}" class="btn btn-success">Open</a>
                                <div class="btn-group">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">Options
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'delete-note-page' note.pk %}">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>You have not got any notes.</p>
    {% endif %}
{% endblock %}