{% extends 'notesapp/base.html' %}
{% block content %}
    <h1>Home Page.</h1>
    {% if user.is_authenticated %}
        <a class="btn btn-outline-success" href="{% url 'create-note-page' %}">Create Note</a>
    {% endif %}
    {% if notes is None %}
        <p>You're not logged in</p>
    {% elif notes %}
        <div class="row">
            {% for note in notes %}
                <div class="col-auto">
                    <div class="card border-success my-3" style="width: 20rem">
                        <div class="card-body">
                            <h3 class="card-title">{{ note.title }}</h3>
                            <p class="card-subtitle mb-2 text-muted">Last Updated:
                                <b>{{ note.date_updated|date:"F d, h:m" }}</b></p>
                            <p class="text-truncate">{{ note.text|safe }}</p>
                            <a href="{% url 'update-note-page' note.pk %}" class="btn btn-success">Open</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>You have not got any notes.</p>
    {% endif %}
{% endblock %}